<ion-header [translucent]="true">
  <div class="top-background">
    <ion-img src="assets/Logo.png" class="logo-img"></ion-img>
  </div>
</ion-header>

<ion-content>
  <div body-container>
    <div class="title-container">
      <ion-title class="title-1">Serviços</ion-title>
    </div>
    <ion-grid class="services-grid">
      <ion-row>
        <ion-col size="6" size-sm="6" size-md="6" size-lg="6" *ngFor="let service of services">
          <ion-card [class.selected]="isSelectedService(service)" (click)="toggleService(service)" class="card">
            <ion-card-content class="card-content-1">
              <ion-img [src]="getImagePath(service.name)" class="images"></ion-img>
            </ion-card-content>
            <ion-card-content class="card-content-2">
              {{ service.name }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="body-container">
      <!-- <div class="title-container">
        <ion-title class="title-1">Agendamento</ion-title>
      </div> -->
      <div>
        <div class="div-grid">
          <ion-card class="card-barber">
            <ion-grid>
              <ion-row>
                <ion-title class="title-2">Selecione o Barbeiro</ion-title>
              </ion-row>
              <ion-row>
                <ion-col size="6" size-sm="6" size-md="6" size-lg="6" *ngFor="let barber of barbers">
                  <div (click)="toggleBarber(barber)" [class.selected]="isSelected(barber)">
                    <ion-list>
                      <ion-item-group>
                        <ion-item class="item-grid">
                          <ion-avatar slot="start">
                            <img [src]="barber.barberImage">
                          </ion-avatar>
                          <ion-label class="barber-name">
                            <h2>{{ barber.barberName }}</h2>
                          </ion-label>
                        </ion-item>
                      </ion-item-group>
                    </ion-list>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </div>
      </div>

      <div class="div-grid">
        <ion-card class="card-calendar">
          <ion-title class="title-2">Datas</ion-title>
          <ion-item>
            <ion-datetime-button datetime="datetime" slot="start"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime" presentation="date" [(ngModel)]="selectedDate"></ion-datetime>
              </ng-template>
            </ion-modal>

            <ion-button slot="end" (click)="selectDate()">Selecionar</ion-button>
          </ion-item>
        </ion-card>
      </div>

      <div class="div-time">
        <ion-card class="card-time">
          <ion-title class="title-2">Horários</ion-title>

          <ion-accordion-group>
            <ion-accordion>
              <ion-item slot="header" color="light">
                <ion-label>Selecione um horário</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">

                <ion-radio-group (ionChange)="onTimeChange($event)">
                  <ion-list>
                    <ion-item *ngFor="let time of times">
                      <ion-radio [value]="time" justify="space-between">
                        {{ time.time }}
                      </ion-radio>
                    </ion-item>
                  </ion-list>
                </ion-radio-group>

              </div>
            </ion-accordion>
          </ion-accordion-group>

        </ion-card>
      </div>

      <div class="div-my-appointment">
        <ion-card class="card-appointment">
          <ion-card-header>
            <ion-title class="title-2">Meus agendamentos</ion-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let appointment of appointments; let i = index">
                <ion-icon slot="start" name="checkbox-outline"></ion-icon>
                <ion-label>Agendado para {{ appointment.date }} às {{ appointment.time }}
                  <ng-container *ngIf="appointment.barber">
                    com {{ appointment.barber.barberName }}
                  </ng-container>
                </ion-label>
                <ion-button slot="end" color="danger" (click)="deleteAppointment(i)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="button-container">
      <ion-button class="confirm-button" (click)="toSchedule()" expand="block" shape="round"
        [disabled]="selectedServices.length === 0">
        Agendar
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-tab-bar color="primary">
    <ion-tab-button (click)="exitAlert()">
      <ion-icon name="exit" color="dark"></ion-icon>
      <ion-label>
        Sair
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
