.selected {
  border: 2px solid #2dd36f;
  border-radius: 10px;
}

.top-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #AEB7B3;
}

.logo-img {
  width: 50%;
  height: auto;
  animation: pulse;
  animation-duration: 2s;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title-1 {
  display: flex;
  text-align: center;
  padding: 16px;
}

.title-2 {
  display: flex;
  text-align: center;
  padding: 8px;
}

.services-grid ion-row {
  display: flex;
  justify-content: center;
}

.services-grid ion-col {
  --ion-col-padding-horizontal: 0;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  height: 165px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.services-grid {
  max-width: 360px;
  margin: auto;
}

.services-grid ion-card-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-grid ion-img.images {
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
}

.card-content-1 {
  width: 100%;
  height: 50%;
  flex: 2;
}

.card-content-2 {
  width: 100%;
  flex: 1;
}

.button-container {
  display: flex;
  justify-content: center;
}

.confirm-button {
  width: 75%;
  border-radius: 100px;
  gap: 8px;
  --background: #AEB7B3 !important;
  --color: #ffffff !important;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Serviços */

.barber-name {
  padding-top: 12px;
  font-size: 5%;
}

.item-grid {
  --background: transparent;
  --border-style: none;
}

.div-grid {
  padding-right: 1%;
  padding-left: 1%;
}

.div-calendar,
.div-time {
  padding-right: 1%;
  padding-left: 1%;
}

.card-barber,
.card-appointment,
.card-calendar,
.card-time {
  border: 2px solid #AEB7B3;
  border-radius: 20px;
}

.div-my-appointment {
  padding-right: 1%;
  padding-left: 1%;
}

.agend-button {
  width: 75%;
  border-radius: 100px;
  gap: 8px;
  --background: #AEB7B3 !important;
  --color: #ffffff !important;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.teste1,
.teste2,
.teste3 {
  background-color: red;
}

h2 {
  text-align: center;
}

ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: #AEB7B3;
  --color: white;
}

.profile-picture img {
  width: 100%;
  height: auto;
}

.name-item-1 {
  width: 81%;
  margin: 10px auto;
  border-radius: 8px 8px 0 0;
  border: medium solid darkgray;
}

.name-item-container {
  display: flex;
  flex-direction: column;
  margin-left: 6%;
}

.name-item-2 {
  width: 100%;
  text-align: center;
  padding: 4px 16px 0;
  font-size: 12px;
}

.file-input-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81%;
  margin: auto;
  padding: 10px;
  background-color: #AEB7B3;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.file-input-label:hover {
  background-color: #515152;
}

.file-input {
  display: none;
}

.input-file {
  --border-style: none;
}

.save-profile-button {
  width: 81%;
  margin: 20px auto;
  border-radius: 100px;
  gap: 8px;
  --background: #AEB7B3 !important;
  --color: #ffffff !important;
}

.border-photo {
  border: 1rem solid black;
}

ion-delegate-host {
  height: auto;
}

ion-modal {
  --height: auto;
  --max-height: 80%;
}
