<ion-header [translucent]="true">
  <div class="top-background">
    <ion-img src="assets/Logo.png" class="logo-img"></ion-img>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="title-container">
    <h1 class="title">Administração</h1>
  </div>

  <div>
    <ion-card class="card-barber">
      <ion-card-header>
        <ion-card-title>Barbeiros</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="barbers-container">
          <div (click)="setBarberID(i)" *ngFor="let barber of barbers; let i = index" class="barber-item"
            [class.selected-barber]="selectedBarber === barber" (click)="selectBarber(barber)">
            <img [src]="barber.barberImage" class="barber-avatar">
            <p>{{ barber.barberName }}</p>
          </div>
        </div>
        <ion-button (click)="toggleAddBarber()" expand="block" shape="round" class="add-button">
          <ion-icon name="add"></ion-icon> Adicionar Barbeiro
        </ion-button>
        <ion-button (click)="removeBarber()" color="danger" expand="block" shape="round">
          <ion-icon name="trash"></ion-icon> Remover Barbeiro
        </ion-button>
        <ion-item *ngIf="showAddBarber">
          <ion-label class="custom-label" position="floating">Nome do Barbeiro</ion-label>
          <ion-input class="custom-input" type="text" [(ngModel)]="newBarberName"></ion-input>
          <input type="file" (change)="uploadFile($event.target)" accept="image/*">
          <ion-button (click)="addBarber()" color="success" expand="block">Adicionar</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card class="card-calendar">
      <ion-item>

        <ion-datetime-button datetime="datetime" slot="start"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" presentation="date" [(ngModel)]="selectedDate"></ion-datetime>
          </ng-template>
        </ion-modal>

        <ion-button (click)="desativarData()" color="danger" slot="end">Desativar</ion-button>
      </ion-item>

      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Datas Desativadas</ion-label>
          </ion-item>
          <div slot="content">
            <ion-item *ngFor="let date of dates; let i = index">
              {{ date.date }}
              <ion-icon name="trash" slot="end" color="danger" (click)="deleteDate(date.id)"></ion-icon>
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card>
  </div>

  <div>
    <ion-card class="card-time">
      <ion-item>
        <ion-select #horarioSelect placeholder="Selecione seus horário" multiple="true" (ionChange)="selectTime($event)"
          slot="start">
          <ion-select-option *ngFor="let option of timeOptions" [value]="option.value">{{ option.label
            }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Horários de Trabalho</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-item *ngFor="let time of times">
              {{ time.time }}
              <ion-icon name="trash" slot="end" (click)="removeTime(time.id)" color="danger"></ion-icon>
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card>
  </div>

  <div>
    <ion-card class="card-client">
      <ion-card-header>
        <ion-card-title>Clientes</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-icon slot="start" name="checkbox-outline"></ion-icon>

            <ion-list>
              <ion-item class="item-client">
                Cliente: Ricardo
              </ion-item>
              <ion-item class="item-client">
                Serviço: Aparar
              </ion-item>
              <ion-item class="item-client">
                Agendamento: 03/06/2024 às 13:00
              </ion-item>
            </ion-list>

            <ion-button slot="end" color="danger">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>

        <ion-item>
          <ion-icon slot="start" name="checkbox-outline"></ion-icon>

          <ion-list>
            <ion-item class="item-client">
              Cliente: Pedro
            </ion-item>
            <ion-item class="item-client">
              Serviço: Cuidado capilar
            </ion-item>
            <ion-item class="item-client">
              Agendamento: 03/06/2024 às 15:00
            </ion-item>
          </ion-list>

          <ion-button slot="end" color="danger" routerLink="/login">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>

      </ion-card-content>
    </ion-card>
  </div>


</ion-content>

<ion-footer>
  <ion-tab-bar color="primary">
    <ion-tab-button (click)="exitAlert()">
      <ion-icon name="exit" color="dark"></ion-icon>
      <ion-label>
        Sair
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>