.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
}

.profile-picture {
  width: 185px;
  height: 185px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #AEB7B3
}

.file-btn {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.file-input-label {
  display: block;
  padding: 10px;
  background-color: #AEB7B3;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.file-input-label:hover {
  background-color: #515152;
}

.file-input {
  display: none;
}



main{
  width: 300px;
}
