<ion-header [translucent]="true">
  <div class="top-background">
    <ion-img src="assets/Logo.png" class="logo-img"></ion-img>
  </div>
</ion-header>

<ion-content [fullscreen]="true">



  <div class="body-container">

    <div class="title-container">
      <h1 class="title">Agendamento</h1>
    </div>

    <div>

      <div class="div-grid">
        <ion-card class="card-barber">
          <ion-grid>
            <ion-row>
              <div class="select-barber-title">
                <h3>Selecione o Barbeiro</h3>
              </div>
            </ion-row>
            <ion-row>
              <ion-col size="6" size-sm="6" size-md="6" size-lg="6" *ngFor="let barber of barbers">
                <div (click)="toggleBarber(barber)" [class.selected]="isSelected(barber)">
                  <ion-list>
                    <ion-item-group>
                      <ion-item class="item-grid">
                        <ion-avatar slot="start">
                          <img [src]="getImagePath(barber)">
                        </ion-avatar>
                        <ion-label>
                          <h2>{{ barber }}</h2>
                        </ion-label>
                      </ion-item>
                    </ion-item-group>
                  </ion-list>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>




    <div class="div-calendar">
      <ion-card class="card-calendar">
        <ion-card-header (click)="toggleCalendar()">
          <ion-card-title>Data</ion-card-title>
          <ion-card-subtitle *ngIf="selectedDate">{{ getFormattedDate() }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content *ngIf="showCalendar">
          <ion-datetime display-format="DD/MM/YYYY" [showDefaultButtons]="true" doneText="Selecionar"
            cancelText="Fechar" [min]="getMinDate()" [isDateEnabled]="isWeekday" [(ngModel)]="selectedDate"
            (ionCancel)="closeCalendar()" (ionDone)="closeCalendar()" presentation="date">
          </ion-datetime>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="div-time">
      <ion-card class="card-time">
        <ion-card-header (click)="toggleTime()">
          <ion-card-title>Horários</ion-card-title>
          <ion-card-subtitle *ngIf="selectedTime">{{ getFormattedTime() }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content *ngIf="showTime">
          <ion-datetime presentation="time" [showDefaultButtons]="true" doneText="Selecionar" cancelText="Fechar"
            [(ngModel)]="selectedTime" (ionCancel)="closeTime()" (ionDone)="closeTime()"></ion-datetime>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="div-my-appointment">
      <ion-card class="card-appointment">
        <ion-card-header>
          <ion-card-title>Meus agendamentos</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-icon slot="start" name="checkbox-outline"></ion-icon>
              <ion-label>Agendado para 03/06/2024 às 18:00 com Leo</ion-label>
              <ion-button slot="end" color="danger" (click)="cancelAppointmentAlert()">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-item>

            <ion-item>
              <ion-icon slot="start" name="checkbox-outline"></ion-icon>
              <ion-label>Teste de agendamento</ion-label>
              <ion-button slot="end" color="danger" (click)="cancelAppointmentAlert()">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="button-container">
      <ion-button class="agend-button" expand="block" shape="round" (click)="confirmToast('top')">Agendar</ion-button>
    </div>



  </div>


</ion-content>

<ion-footer class="div-footer">
  <div class="div-buttons">
    <div>
      <ion-button fill="clear" size="large" (click)="exitAlert()">
        <ion-icon slot="icon-only" name="exit" color="dark"></ion-icon>
      </ion-button>
    </div>
    <div>
      <ion-button fill="clear" size="large" routerLink="/home">
        <ion-icon slot="icon-only" name="home" color="dark"></ion-icon>
      </ion-button>
    </div>
    <div>
      <ion-button fill="clear" size="large" routerLink="/appointment">
        <ion-icon slot="icon-only" name="calendar" color="dark"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-footer>














<!--  -->
<!-- preciso que após clicar em confirmar, sejam armazenados no nó os serviços selecionados para que quando ele realizar o agendamento, apareceça para o administrador, agora, trate a tela de agendamentos com uid para o barbeiro selecionado e retorne o serviço selecionado, o nome da pessoa l -->