<ion-header [translucent]="true">
  <div class="top-background">
    <ion-img src="assets/rockers.png" class="logo-img"></ion-img>
  </div>
  <ion-progress-bar *ngIf="loading" type="indeterminate" color="tertiary"></ion-progress-bar>
</ion-header>

<ion-content [fullscreen]="true" class="animate__animated animate__bounceInUp">
  <div class="title-container">
    <h1 class="title">Receber uma redefinição de senha</h1>
  </div>
  <form [formGroup]="resetPasswordForm" class="form-container"
    (ngSubmit)="resetPassword(resetPasswordForm.value.email)">

    <ion-item class="reset-item-1">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input formControlName="email" required></ion-input>
    </ion-item>
    <ion-text class="reset-item-2" color="danger"
      *ngIf="resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched">
      O e-mail é obrigatório
    </ion-text>

    <ion-button type="submit" class="custom-button-1" expand="block" shape="round">
      ENVIAR
    </ion-button>
    <div class="route-register">
      <ion-label>Lembrou sua senha?</ion-label>
      <a (click)="goToLoginPage()"> Faça login aqui.</a>
    </div>
  </form>
</ion-content>
