.top-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: #AEB7B3;
}

.logo-img {
  width: auto;
  height: 50%;
  animation: pulse;
  animation-duration: 2s;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
}

.reset-item-1 {
  width: 90%;
  margin: 10px auto;
  border-radius: 8px 8px 0 0;
  border: medium solid darkgray;
}

.form-container {
  max-width: 360px;
  margin: auto;
}

.custom-button-1 {
  width: 90%;
  margin: 20px auto;
  border-radius: 100px;
  gap: 8px;
  --background: #AEB7B3 !important;
  --color: #ffffff !important;
}

.route-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.route-register ion-label,
.route-register a {
  margin-top: 10px;
}

h1 {
  padding-top: 16px;
}
