<ion-header>
  <ion-toolbar>
    <ion-title>App</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-button id="open-modal" expand="block">Open Modal</ion-button>

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Foto de Perfil</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-content>
          <div class="profile-header">
            <div class="profile-picture" *ngIf="profilePicture">
              <img [src]="profilePicture" alt="User Profile">
            </div>
          </div>
          <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" class="form-container">
            <ion-item class="input-file">
              <label class="file-input-label" for="file-input">Selecionar uma foto de perfil</label>
              <input id="file-input" class="file-input" type="file" accept="image/*" (change)="handleFileInput($event)" />
            </ion-item>
            <ion-button type="submit" class="save-profile-button" expand="block" shape="round" routerLink="/login">
              Salvar
            </ion-button>
          </form>
        </ion-content>
        
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>