<ion-header [translucent]="true">
  <div class="top-background">
    <ion-img src="assets/Logo.png" class="logo-img"></ion-img>
  </div>
  <ion-progress-bar *ngIf="loading" type="indeterminate" color="tertiary"></ion-progress-bar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" class="form-container" (ngSubmit)="submitForm()">

    <ion-item class="register-user-1">
      <ion-label position="floating">Nome de usuário</ion-label>
      <ion-input formControlName="username" required></ion-input>
    </ion-item>
    <ion-text class="register-user-2" color="danger"
      *ngIf="registerForm.get('username')?.errors && registerForm.get('username')?.touched">
      O nome de usuário é obrigatório
    </ion-text>

    <ion-item class="register-email-1">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>
    <ion-text class="register-email-2" color="danger"
      *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">
      O e-mail é obrigatório
    </ion-text>

    <ion-item class="register-password-1">
      <ion-label position="floating">Senha</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>
    <!-- <ion-text class="register-password-2" color="danger"
      *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
      A senha é obrigatória
    </ion-text> -->
    <ion-text class="register-password-2" color="danger"
      *ngIf="registerForm.get('password')?.errors?.['pattern'] && registerForm.get('password')?.touched">
      A senha é obrigatória e deve ter no mínimo 8 caracteres, incluindo uma letra maiúscula, um número e um caractere especial.
    </ion-text>

    <ion-item class="register-password-3">
      <ion-label position="floating">Confirmar senha</ion-label>
      <ion-input formControlName="passwordConfirmation" type="password" required></ion-input>
    </ion-item>
    <ion-text class="register-password-4" color="danger"
      *ngIf="registerForm.get('passwordConfirmation')?.errors && registerForm.get('passwordConfirmation')?.touched">
      A confirmação da senha é obrigatória
    </ion-text>

    <!-- <ion-item class="input-file">
      <label class="file-input-label" for="file-input">Selecionar uma foto de perfil</label>
      <input id="file-input" class="file-input" type="file" accept="image/*" (change)="uploadFile($event)" />
    </ion-item> -->

    <!-- <ion-grid>
      <ion-row>
        <ion-col>Teste</ion-col>
        <ion-col>Teste</ion-col>
      </ion-row>
    </ion-grid>

    <ion-card>
      <ion-card-header>Teste</ion-card-header>
      <ion-card-content>Testando</ion-card-content>
    </ion-card> -->

    <ion-button type="submit" class="custom-button-1" expand="block" shape="round">
      REGISTRAR
    </ion-button>
    <div class="route-register">
      <ion-label>Já possui uma conta?</ion-label>
      <a (click)="goToLoginPage()"> Faça login aqui.</a>
    </div>
  </form>
</ion-content>
