.top-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: #AEB7B3;
}

.logo-img {
  width: 50%;
  height: auto;
  animation: pulse;
  animation-duration: 2s;
}

.form-container {
  max-width: 360px;
  margin: auto;
}

@media (max-width: 768px) {
  .form-container {
    max-width: 90%;
  }
}

.register-user-1,
.register-email-1,
.register-password-1,
.register-password-3 {
  width: 90%;
  margin: 10px auto;
  border-radius: 8px 8px 0 0;
  border: medium solid darkgray;
}

.register-user-2,
.register-email-2,
.register-password-4 {
  width: 90%;
  margin: 0 auto;
  padding: 4px 16px 0;
  font-size: 12px;
}

.custom-button-1 {
  width: 90%;
  margin: 20px auto;
  border-radius: 100px;
  gap: 8px;
  --background: #AEB7B3 !important;
  --color: #ffffff !important;
}

.route-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.route-register ion-label,
.route-register a {
  margin-top: 10px;
}

.register-password-2{
  font-size: 12px;
}
